<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="iCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="iCrawlerEntities" connectionString="metadata=res://*/iCrawler.csdl|res://*/iCrawler.ssdl|res://*/iCrawler.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=113.161.95.104;initial catalog=iCrawler;persist security info=True;user id=login;password=giahan2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <iCrawler.Properties.Settings>
      <setting name="iCrawler_iTrackingMvc4Services_iTrackingServices"
        serializeAs="String">
        <value>http://localhost:46428/iTrackingServices.asmx</value>
      </setting>
    </iCrawler.Properties.Settings>
  </applicationSettings>
</configuration>